  	$/bond:polymers[0][0][0]/backbone1	$/atom:polymers[0][0][0]/mon1/ca	$/atom:polymers[0][0][0]/mon2/ca
  	$/bond:polymers[0][0][0]/backbone2	$/atom:polymers[0][0][0]/mon2/ca	$/atom:polymers[0][0][0]/mon3/ca
  	$/bond:polymers[0][0][0]/backbone3	$/atom:polymers[0][0][0]/mon3/ca	$/atom:polymers[0][0][0]/mon4/ca
  	$/bond:polymers[0][0][0]/backbone4	$/atom:polymers[0][0][0]/mon4/ca	$/atom:polymers[0][0][0]/mon5/ca
  	$/bond:polymers[0][0][0]/backbone5	$/atom:polymers[0][0][0]/mon5/ca	$/atom:polymers[0][0][0]/mon6/ca
  	$/bond:polymers[0][0][0]/backbone6	$/atom:polymers[0][0][0]/mon6/ca	$/atom:polymers[0][0][0]/mon7/ca
  	$/bond:polymers[0][0][1]/backbone1	$/atom:polymers[0][0][1]/mon1/ca	$/atom:polymers[0][0][1]/mon2/ca
  	$/bond:polymers[0][0][1]/backbone2	$/atom:polymers[0][0][1]/mon2/ca	$/atom:polymers[0][0][1]/mon3/ca
  	$/bond:polymers[0][0][1]/backbone3	$/atom:polymers[0][0][1]/mon3/ca	$/atom:polymers[0][0][1]/mon4/ca
  	$/bond:polymers[0][0][1]/backbone4	$/atom:polymers[0][0][1]/mon4/ca	$/atom:polymers[0][0][1]/mon5/ca
  	$/bond:polymers[0][0][1]/backbone5	$/atom:polymers[0][0][1]/mon5/ca	$/atom:polymers[0][0][1]/mon6/ca
  	$/bond:polymers[0][0][1]/backbone6	$/atom:polymers[0][0][1]/mon6/ca	$/atom:polymers[0][0][1]/mon7/ca
  	$/bond:polymers[0][1][0]/backbone1	$/atom:polymers[0][1][0]/mon1/ca	$/atom:polymers[0][1][0]/mon2/ca
  	$/bond:polymers[0][1][0]/backbone2	$/atom:polymers[0][1][0]/mon2/ca	$/atom:polymers[0][1][0]/mon3/ca
  	$/bond:polymers[0][1][0]/backbone3	$/atom:polymers[0][1][0]/mon3/ca	$/atom:polymers[0][1][0]/mon4/ca
  	$/bond:polymers[0][1][0]/backbone4	$/atom:polymers[0][1][0]/mon4/ca	$/atom:polymers[0][1][0]/mon5/ca
  	$/bond:polymers[0][1][0]/backbone5	$/atom:polymers[0][1][0]/mon5/ca	$/atom:polymers[0][1][0]/mon6/ca
  	$/bond:polymers[0][1][0]/backbone6	$/atom:polymers[0][1][0]/mon6/ca	$/atom:polymers[0][1][0]/mon7/ca
  	$/bond:polymers[0][1][1]/backbone1	$/atom:polymers[0][1][1]/mon1/ca	$/atom:polymers[0][1][1]/mon2/ca
  	$/bond:polymers[0][1][1]/backbone2	$/atom:polymers[0][1][1]/mon2/ca	$/atom:polymers[0][1][1]/mon3/ca
  	$/bond:polymers[0][1][1]/backbone3	$/atom:polymers[0][1][1]/mon3/ca	$/atom:polymers[0][1][1]/mon4/ca
  	$/bond:polymers[0][1][1]/backbone4	$/atom:polymers[0][1][1]/mon4/ca	$/atom:polymers[0][1][1]/mon5/ca
  	$/bond:polymers[0][1][1]/backbone5	$/atom:polymers[0][1][1]/mon5/ca	$/atom:polymers[0][1][1]/mon6/ca
  	$/bond:polymers[0][1][1]/backbone6	$/atom:polymers[0][1][1]/mon6/ca	$/atom:polymers[0][1][1]/mon7/ca
  	$/bond:polymers[1][0][0]/backbone1	$/atom:polymers[1][0][0]/mon1/ca	$/atom:polymers[1][0][0]/mon2/ca
  	$/bond:polymers[1][0][0]/backbone2	$/atom:polymers[1][0][0]/mon2/ca	$/atom:polymers[1][0][0]/mon3/ca
  	$/bond:polymers[1][0][0]/backbone3	$/atom:polymers[1][0][0]/mon3/ca	$/atom:polymers[1][0][0]/mon4/ca
  	$/bond:polymers[1][0][0]/backbone4	$/atom:polymers[1][0][0]/mon4/ca	$/atom:polymers[1][0][0]/mon5/ca
  	$/bond:polymers[1][0][0]/backbone5	$/atom:polymers[1][0][0]/mon5/ca	$/atom:polymers[1][0][0]/mon6/ca
  	$/bond:polymers[1][0][0]/backbone6	$/atom:polymers[1][0][0]/mon6/ca	$/atom:polymers[1][0][0]/mon7/ca
  	$/bond:polymers[1][0][1]/backbone1	$/atom:polymers[1][0][1]/mon1/ca	$/atom:polymers[1][0][1]/mon2/ca
  	$/bond:polymers[1][0][1]/backbone2	$/atom:polymers[1][0][1]/mon2/ca	$/atom:polymers[1][0][1]/mon3/ca
  	$/bond:polymers[1][0][1]/backbone3	$/atom:polymers[1][0][1]/mon3/ca	$/atom:polymers[1][0][1]/mon4/ca
  	$/bond:polymers[1][0][1]/backbone4	$/atom:polymers[1][0][1]/mon4/ca	$/atom:polymers[1][0][1]/mon5/ca
  	$/bond:polymers[1][0][1]/backbone5	$/atom:polymers[1][0][1]/mon5/ca	$/atom:polymers[1][0][1]/mon6/ca
  	$/bond:polymers[1][0][1]/backbone6	$/atom:polymers[1][0][1]/mon6/ca	$/atom:polymers[1][0][1]/mon7/ca
  	$/bond:polymers[1][1][0]/backbone1	$/atom:polymers[1][1][0]/mon1/ca	$/atom:polymers[1][1][0]/mon2/ca
  	$/bond:polymers[1][1][0]/backbone2	$/atom:polymers[1][1][0]/mon2/ca	$/atom:polymers[1][1][0]/mon3/ca
  	$/bond:polymers[1][1][0]/backbone3	$/atom:polymers[1][1][0]/mon3/ca	$/atom:polymers[1][1][0]/mon4/ca
  	$/bond:polymers[1][1][0]/backbone4	$/atom:polymers[1][1][0]/mon4/ca	$/atom:polymers[1][1][0]/mon5/ca
  	$/bond:polymers[1][1][0]/backbone5	$/atom:polymers[1][1][0]/mon5/ca	$/atom:polymers[1][1][0]/mon6/ca
  	$/bond:polymers[1][1][0]/backbone6	$/atom:polymers[1][1][0]/mon6/ca	$/atom:polymers[1][1][0]/mon7/ca
  	$/bond:polymers[1][1][1]/backbone1	$/atom:polymers[1][1][1]/mon1/ca	$/atom:polymers[1][1][1]/mon2/ca
  	$/bond:polymers[1][1][1]/backbone2	$/atom:polymers[1][1][1]/mon2/ca	$/atom:polymers[1][1][1]/mon3/ca
  	$/bond:polymers[1][1][1]/backbone3	$/atom:polymers[1][1][1]/mon3/ca	$/atom:polymers[1][1][1]/mon4/ca
  	$/bond:polymers[1][1][1]/backbone4	$/atom:polymers[1][1][1]/mon4/ca	$/atom:polymers[1][1][1]/mon5/ca
  	$/bond:polymers[1][1][1]/backbone5	$/atom:polymers[1][1][1]/mon5/ca	$/atom:polymers[1][1][1]/mon6/ca
  	$/bond:polymers[1][1][1]/backbone6	$/atom:polymers[1][1][1]/mon6/ca	$/atom:polymers[1][1][1]/mon7/ca
